<div class="modal fade" id="condition-term-osa-1" tabindex="-1" role="dialog"
    aria-labelledby="condition-term-osaLabel-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="condition-term-osaLabel-1">OSA Journal
                </h4>
                <h6>
                    <small>Available Online: <a target="_blank" href="https://doi.org/10.1364/AO.58.0000B9">https://doi.org/10.1364/AO.58.0000B9</a></small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                    [&#x24B8; 2019 Optical Society of America]. One print or electronic copy may be made for personal
                    use only. Systematic reproduction and distribution, duplication of any material in this paper for a
                    fee or for commercial purposes, or modifications of the content of this paper are prohibited.
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <form method="get" target="_blank" action="Documents/Publications/Journals/sanchez2019rgbfusion.pdf">
                    <button type="submit" class="btn btn-default" >Accept and Download</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>