<!--==========================================
                        HEADER
    ===========================================-->
<header id="home">
    <nav id="theMenu" class="menu">

        <!--MENU-->
        <div id="menu-options" class="menu-wrap">

            <!--PERSONAL LOGO-->
            <div class="logo-flat">
                <img alt="personal-logo" class="img-responsive" src="img/favicon.png">
            </div>
            <br>

            <!--OPTIONS-->
            <a href="#home">
                <i class="title-icon fa fa-user"></i>Home</a>
            <a href="#about">
                <i class="title-icon fa fa-dashboard"></i>About me</a>
            <a href="#education">
                <i class="title-icon fa fa-graduation-cap"></i>Education</a>
            <a href="#skills">
                <i class="title-icon fa fa-sliders"></i>Professional Skills</a>
            <a href="#experience">
                <i class="title-icon fa fa-suitcase"></i>Work Experience</a>
            <a href="#blog">
                <i class="title-icon fa fa-pencil-square"></i>Research Experience </a>
            <a href="#portfolios">
                <i class="title-icon fa fa-archive"></i>Software Development</a>
            <a href="#interest">
                <i class="title-icon fa fa-heart"></i>Personal Interests</a>
            <a href="#contact">
                <i class="title-icon fa fa-envelope"></i>Contact</a>
            <a href="#visitors">
                <i class="title-icon fa fa-envelope"></i>Visitors</a>
        </div>

        <!-- MENU BUTTON -->
        <div id="menuToggle">
            <div class="toggle-normal">
                <i class="material-icons top-bar">remove</i>
                <i class="material-icons middle-bar">remove</i>
                <i class="material-icons bottom-bar">remove</i>
            </div>
        </div>
    </nav>

    <div class="header-background section">
        <div id="v-card-holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <!-- V-CARD -->
                        <div id="v-card" class="card">

                            <!-- PROFILE PICTURE -->
                            <div id="profile" class="right">
                                <img alt="profile-image" class="img-responsive" src="img/profile.png">
                                <div class="slant"></div>
                                <div class="btn-floating btn-large add-btn">
                                    <i class="material-icons">add</i>
                                </div>
                            </div>

                            <div class="card-content">

                                <!-- NAME & STATUS -->
                                <div class="info-headings">
                                    <h4 class="text-uppercase left">Carlos Hinojosa</h4>
                                    <h6 class="text-capitalize left">Computer Scientist & Engineer</h6>
                                </div>

                                <!-- CONTACT INFO -->
                                <div class="infos">
                                    <ul class="profile-list">
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <span class="content">{{ site.email }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">language</i>
                                            </span>
                                            <span class="content">carlosh93.github.io</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="fa fa-skype" aria-hidden="true"></i>
                                            </span>
                                            <span class="content">{{ site.mySkype }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">phone</i>
                                            </span>
                                            <span class="content">{{ site.myPhone }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">place</i>
                                            </span>
                                            <span class="content">{{ site.workAddress }}</span>
                                            <!--<span class="content">Facultad de Ingenierías Físico-Mecánicas</span>
                                                <span class="content">Escuela de Ingeniería de Sistemas e Informática, Salon Lp 334</span>-->
                                        </li>

                                    </ul>
                                </div>

                                <!--LINKS-->
                                <div class="links">
                                    <!--Google Scholar-->
                                    <a href="https://scholar.google.com/citations?hl=es&user=KP02_jwAAAAJ"
                                        class="social  btn-floating grey darken-3"
                                        style="-webkit-text-stroke: 0.8px white;">
                                        <i class="ai ai-google-scholar"></i>
                                    </a>
                                    <!-- Researchgate -->
                                    <a href="https://www.researchgate.net/profile/Carlos_Alberto_Hinojosa_Montero"
                                        class="social  btn-floating mediumturquoise darken-3"
                                        style="-webkit-text-stroke: 0.7px white;">
                                        <i class="ai ai-researchgate"></i>
                                    </a>
                                    <!-- FACEBOOK-->
                                    <a href="https://www.facebook.com/carloshinojosamontero" id="first_one"
                                        class="social btn-floating indigo">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <!-- TWITTER-->
                                    <a href="https://twitter.com/CarlosH_93" class="social  btn-floating blue">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <!-- GOOGLE+-->
                                    <a href="https://plus.google.com/109063978235385790662"
                                        class="social  btn-floating red">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <!-- LINKEDIN-->
                                    <a href="https://www.linkedin.com/in/carlos-alberto-hinojosa-montero-368713139/"
                                        class="social  btn-floating blue darken-3">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>