<!--==========================================
                        HEADER
    ===========================================-->
<header id="home">
    <!-- RSCARD-->
    <div class="sidebar sidebar-fixed">
        <button class="btn-sidebar btn-sidebar-close"> clickk</i></button>

        <div class="widget-area">
            <aside class="widget widget-profile">
                <div class="profile-photo">
                    <img src="img/uploads/rs-photo-v2.jpg" alt="Robert Smith" />
                </div>
                <div class="profile-info">
                    <h2 class="profile-title">Carlos Hinojosa</h2>
                    <h3 class="profile-position">profile position</h3>
                </div>
            </aside><!-- .widget-profile -->

            <aside class="widget widget_search">
                <h2 class="widget-title">Search</h2>
                <form class="search-form">
                    <label class="ripple">
                        <span class="screen-reader-text">Search for:</span>
                        <input class="search-field" type="search" placeholder="Search">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside><!-- .widget_search -->

            <aside class="widget widget_contact">
                <h2 class="widget-title">Contact Me</h2>
                <form class="contactForm" action="php/contact_form.php" method="post">
                    <div class="input-field">
                        <input class="contact-name" type="text" name="name" />
                        <span class="line"></span>
                        <label>Name</label>
                    </div>

                    <div class="input-field">
                        <input class="contact-email" type="email" name="email" />
                        <span class="line"></span>
                        <label>Email</label>
                    </div>

                    <div class="input-field">
                        <input class="contact-subject" type="text" name="subject" />
                        <span class="line"></span>
                        <label>Subject</label>
                    </div>

                    <div class="input-field">
                        <textarea class="contact-message" rows="4" name="message"></textarea>
                        <span class="line"></span>
                        <label>Message</label>
                    </div>

                    <span class="btn-outer btn-primary-outer ripple">
                        <input class="contact-submit btn btn-lg btn-primary" type="submit" value="Send" />
                    </span>

                    <div class="contact-response"></div>
                </form>
            </aside><!-- .widget_contact -->

            <aside class="widget widget-popuplar-posts">
                <h2 class="widget-title">Popular posts</h2>
                <ul>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-1.jpg" alt="" /></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-2.jpg" alt="" /></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-3.jpg" alt="" /></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside><!-- .widget-popuplar-posts -->

            <aside class="widget widget_tag_cloud">
                <h2 class="widget-title">Tag Cloud</h2>
                <div class="tagcloud">
                    <a href="" title="1 topic">Business</a>
                    <a href="" title="9 topics">City</a>
                    <a href="" title="10 topics">Creative</a>
                    <a href="" title="6 topics">Fashion</a>
                    <a href="" title="2 topics">Music</a>
                    <a href="" title="5 topics">News</a>
                    <a href="" title="9 topics">Peoples</a>
                </div>
            </aside><!-- .widget_tag_cloud -->

            <aside class="widget widget-recent-posts">
                <h2 class="widget-title">Recent posts</h2>
                <ul>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>
                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside><!-- .widget-recent-posts -->

            <aside class="widget widget_categories">
                <h2 class="widget-title">Categories</h2>
                <ul>
                    <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                    <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                    <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                    <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                    <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                    <li><a href="" title="Education Category Posts">Education</a> (9)</li>
                </ul>
            </aside><!-- .widget_categories -->
        </div><!-- .widget-area -->
    </div><!-- .sidebar -->


    <div class="head-bar">
        <div class="head-bar-inner">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <a class="logo" href="index.html"><span>RS</span>card</a>
                    <!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                </div>

                <div class="col-sm-9 col-xs-6">
                    <div class="nav-wrap">
                        <nav id="nav" class="nav">
                            <ul class="clearfix">
                                <li><a href="#about">About</a></li>
                                <li><a href="#skills">Skills</a></li>
                                <li><a href="#portfolio">Portfolio</a> </li>
                                <li><a href="#experience">Experience</a></li>
                                <!--<li><a href="#references">References</a></li>-->
                                <li>
                                    <a href="category.html">Blog</a>
                                    <ul>
                                        <li><a href="single-image.html">Image Post</a></li>
                                        <li><a href="single-slider.html">Slider Post</a></li>
                                        <li><a href="single-video.html">Video Post</a></li>
                                        <li><a href="single-audio.html">Audio Post</a></li>
                                        <li><a href="single-vimeo.html">Vimeo Post</a></li>
                                        <li><a href="single-youtube.html">Youtube Post</a></li>
                                        <li><a href="single-dailymotion.html">Dailymotion Post</a></li>
                                        <li><a href="single.html">Without Media Post</a></li>
                                        <li><a href="typography.html">Typography Page</a></li>
                                        <li><a href="icons.html">Icons Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="#calendar">Calendar <span></span></a></li>
                                <li><a href="#contact">Contact <span></span></a></li>
                            </ul>
                        </nav>

                        <button class="btn-mobile btn-mobile-nav">Menu</button>
                        <button class="btn-sidebar btn-sidebar-open">clickk</i></button>
                    </div><!-- .nav-wrap -->
                </div>
            </div>
        </div>
    </div>
    <!--- FLATRICA -->
    <div class="header-background section">
        <div id="v-card-holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <!-- V-CARD -->
                        <div id="v-card" class="card">

                            <!-- PROFILE PICTURE -->
                            <div id="profile" class="right">
                                <img alt="profile-image" class="img-responsive" src="img/profile.png">
                                <div class="slant"></div>
                                <div class="btn-floating btn-large add-btn">
                                    <i class="material-icons">add</i>
                                </div>
                            </div>

                            <div class="card-content">

                                <!-- NAME & STATUS -->
                                <div class="info-headings">
                                    <h4 class="text-uppercase left">Carlos Hinojosa</h4>
                                    <h6 class="text-capitalize left">Computer Scientist & Engineer</h6>
                                </div>

                                <!-- CONTACT INFO -->
                                <div class="infos">
                                    <ul class="profile-list">
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <span class="content">{{ site.email }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">language</i>
                                            </span>
                                            <span class="content">carlosh93.github.io</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="fa fa-skype" aria-hidden="true"></i>
                                            </span>
                                            <span class="content">{{ site.mySkype }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">phone</i>
                                            </span>
                                            <span class="content">{{ site.myPhone }}</span>
                                        </li>
                                        <li class="clearfix">
                                            <span class="title">
                                                <i class="material-icons">place</i>
                                            </span>
                                            <span class="content">{{ site.workAddress }}</span>
                                            <!--<span class="content">Facultad de Ingenierías Físico-Mecánicas</span>
                                                <span class="content">Escuela de Ingeniería de Sistemas e Informática, Salon Lp 334</span>-->
                                        </li>

                                    </ul>
                                </div>

                                <!--LINKS-->
                                <div class="links">
                                    <!-- FACEBOOK-->
                                    <a href="https://www.facebook.com/carloshinojosamontero" id="first_one"
                                        class="social btn-floating indigo">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <!-- TWITTER-->
                                    <a href="https://twitter.com/CarlosH_93" class="social  btn-floating blue">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <!-- GOOGLE+-->
                                    <a href="https://plus.google.com/109063978235385790662"
                                        class="social  btn-floating red">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <!-- LINKEDIN-->
                                    <a href="https://www.linkedin.com/in/carlos-alberto-hinojosa-montero-368713139/"
                                        class="social  btn-floating blue darken-3">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <!-- RSS-->
                                    <a href="#" class="social  btn-floating orange darken-3">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>