---
layout: default
---
{{ content }}
<!--==========================================
                   EDUCATION
===========================================-->
<section id="education" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon fa fa-graduation-cap"></i>Education</h4>
            </div>
    
            <div id="timeline-education">
    
                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><h6>P</h6></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">Preparatory Education</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>Colegio Gimnasio Del Norte</small>
                                </h6>
                                <h6>
                                    <small>Valledupar-Cesar</small>
                                </h6>
                                <h6>
                                    <small>Jan 1999 - Dec 2004</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I completed my preparatory education from this prestigious institution in Valleudpar, Cesar.
                                I successful completed all the credits without any fallout and got A grade overall.
                            </p>
                            <!-- BUTTON TRIGGER MODAL -->
                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-1">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
    
                <!-- SECOND TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><h6>H</h6></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">High School</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>Colegio Gimnasio Del Norte</small>
                                </h6>
                                <h6>
                                    <small>Valledupar-Cesar</small>
                                </h6>
                                <h6>
                                    <small>Jan 2005 - Dec 2010</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I completed my high school degree also from this institution, in Valledupar. At this time, I started to get
                                interested in Computer programming and I made different small software projects.
                            </p>
                        </div>
                    </div>
                </div>
    
                <!-- THIRD TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">System Engineering and Informatics</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>Universidad Industrial de Santander</small>
                                </h6>
                                <h6>
                                    <small>Jan 2011 - Dec 2015</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I completed my Bachelor's degree in System Engineering and Informatics from Universidad Industrial de Santander in
                                december 2015. I successful completed all the credits and got a grade point average of 4.40.
                            </p>
    
                        </div>
                    </div>
                </div>
    
                <!-- FOURTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">Master of Engineering Degree in System Engineering and Informatics</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>Universidad Industrial de Santander</small>
                                </h6>
                                <h6>
                                    <small>Jan 2016 - Apr 2018</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I complete my Master's degree of Engineering with emphasis in System Engineering and Informatics from Universidad Industrial
                                de Santander in April 2018.
                            </p>
    
                        </div>
                    </div>
                </div>
                <!-- FIFTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><h6>U</h6></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">UI/UX Workshop</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>IT Next Academy</small>
                                </h6>
                                <h6>
                                    <small>Jan 2010 - Mar 2011</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I completed this course from this prestigious institution.
                                I successful completed all the credits without any fallout and got A grade overall.
                            </p>
                            <!-- BUTTON TRIGGER MODAL -->
                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-2">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- SIXTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot"><i class="fa fa-globe"></i></div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <div class="card-content">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">Web Development</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>Lipro University</small>
                                </h6>
                                <h6>
                                    <small>Jan 2011 - Mar 2012</small>
                                </h6>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <p>
                                I completed this course from this prestigious institution.
                                I successful completed all the credits without any fallout and got A grade overall.
                            </p>
                            <!-- BUTTON TRIGGER MODAL -->
                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-3">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>